<!-- <div class="fixed-top">
  <dods-navigation></dods-navigation>
</div>
<div class="container mt-3 pt-1">
  <tabset>
    <tab heading="Regeln">
      <dods-regeln></dods-regeln>
    </tab>
    <tab heading="Persönlich">
      <dods-persoenlich></dods-persoenlich>
    </tab>
    <tab heading="Profan">
      <dods-profan></dods-profan>
    </tab>
    <tab heading="Magie">
      <dods-magie></dods-magie>
    </tab>
    <tab heading="Karma">
      <dods-karma></dods-karma>
    </tab>
  </tabset>
</div>
 -->
<dods-http-test></dods-http-test>