<nav class="navbar navbar-light bg-faded">
  <a class="navbar-brand" href="#">DODS</a>
  <div class="" id="">
    <div class="navbar-nav">
      <span class="navbar-text">
        Aktuell:
      </span>
        <button class="btn btn-sm align-middle btn-outline-primary"
                type="button">
          Eridon Nebelweber
        </button>
      <span class="navbar-text">
        534 AP
      </span>
      <span class="navbar-text pull-right">
        Pascal Paschqui Widir
      </span>
    </div>
  </div>
</nav>
