//fallback for ng2-select
.pull-right {
  @include float-right()
}
.pull-left {
  @include float-left()
}

.herolist-width {
  width: $herolist-width;
}

.bg-white {
  background-color: white;
}

.simple-link {
  &:hover {
    text-decoration: none;
  }
}

.simple-tooltip {
  &:hover {
    cursor: help;
  }
}
